---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="trustpilot-one-time-domain-verification-id" content="fc762758-79d5-4a38-8eee-098ea33de042"/>
    <title>{title || "The Page"}</title>
    <link rel="stylesheet" href="/styles/clean.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1 class="logo">The Page</h1>
      </div>
    </header>
    <main class="main-container">
      <slot />
    </main>
  </body>
</html>
